* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(238, 238, 238);
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: minmax(100px, 400px) 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.header {
  background: #2271ff;
  grid-column: 2/3;
  grid-row: 1/3;
}
main {
  background: #b9c0c2;
  grid-column: 2/3;
  grid-row: 3/6;
}
.section {
  background: #87953c;
  grid-column: 1/2;
  grid-row: 1/6;
}
