* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(238, 238, 238);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: minmax(100px, 400px) 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
header {
  background: #2271ff;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  dispay: flex;
  flex-direction: columns;
  border-radius: 10%;
  grid-columns: 2/3;
  grid-row: 1/2;
  gr
}
main {
  background: #b9c0c2;
}
